@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Raleway, sans-serif;
}



.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
    width: 100vw;
   
}

.screen {		
	background: linear-gradient(90deg, #5086c1, #93b8e0);		
	height: 100%;
	width: 100%;	
	box-shadow: 0px 0px 24px #5086c1;
  
}

.screen__content {
	z-index: 1;
	position: relative;	
	height: 100%;
    display: grid;
    align-items: center;
    
}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

.screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
}

.screen__background__shape1 {
	height: 400px;
	width: 400px;
	background: #FFF;	
	bottom: 25%;
	right: 30%;	
	border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
	height: 220px;
	width: 220px;
	background: #5086c1;	
	top: -172px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape3 {
	height: 540px;
	width: 190px;
	background: linear-gradient(270deg, #5086c1, #4474a8);
	top: -24px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape4 {
	height: 400px;
	width: 200px;
	background: #5086c1;	
	top: 420px;
	right: 50px;	
	border-radius: 60px;
}

.login {

	width: 320px;
	padding: 30px;
	
 
    margin: auto;
}

.login__field {
	padding: 20px 0px;	
	position: relative;	
}

.login__icon {
	position: absolute;
	top: 30px;
	color: #7875B5;
}

.login__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #5086c1;
}

.login__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #5086c1;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
	color: #5086c1;
	box-shadow: 0px 2px 2px #5086c1;
	cursor: pointer;
	transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #5086c1;
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #5086c1;
}

.social-login {	
	position: absolute;
	text-align: center;
	bottom: 0px;
	right: 0px;
	color: #fff;
	padding: 10px;
}

.social-login .logo{	
	
	display: block;
}

.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-login__icon {
	padding: 20px 10px;
	color: #fff;
	text-decoration: none;	
	text-shadow: 0px 0px 8px #5086c1;
}

.social-login__icon:hover {
	transform: scale(1.5);	
}