$primary-color: #FDBE2C;

.main-content {
    
    height: 100%;

    .contenedorLogo {
        padding-top: 20px;
        width: 90%;
        margin: 0 auto 25px auto;
        gap: 20px;

        .logo {
            display: grid;
            // grid-template-columns: 30% 60%;
            // align-items: center;
            // gap: 10px;
            margin-bottom: 20px;
            img {
                margin: auto;
                display: block;
                border-radius: 20px;
                height: 100px;
            }

            .texto {
                p {
                    margin: 0;
                    text-align: center;
                }

                .title {
                    font-size: 24px;
                    font-weight: bold;
                    color: #FDBE2C;
                }

                .subtitle {
                    font-size: 11px;
                }
            }


        }

        .secundario {
            padding: 20px 0 20px 0;
            text-align: center;
            font-size: 18px;
            font-weight: bold;
        }
    }

    .contenedorLogin {

        width: 90%;
        margin: auto;

        .contenedorTexto {
            background-color: #eee;
            padding: 20px;
            border-radius: 20px 20px 0 0;
            color: black;
            text-align: center;

            p {
                margin: 0;
            }
        }

        .contenedorForm {
            padding: 20px;
            background-color: #eee;
            border-radius: 0px 0px 20px 20px;

            .contenedorInput{
                display: flex;
                border-radius: 20px;
                margin-bottom: 20px;
                background-color: transparent;
                border: solid 1px black;
                align-items: center;
                padding-left: 10px;
                input{
                    width: 95%;
                    background-color: transparent;
                    border-style: none;
                    border-radius: 20px;
                    padding: 10px;
                    margin: auto;
                    color: black;
                    border-width: 0px;
                    outline: none;
                }
                
                ion-icon{
                    width: 5%;
                    color: $primary-color;
                }
            }
        }
    }
}