<ion-header>
  <ion-toolbar>
    <ion-title>Cliente a facturar</ion-title>
    <ion-buttons slot="end">
      <ion-button style="background-color: black; color: white;border-radius: 20px;" href="tabprincipal/login">Salir</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-content">
    <ion-searchbar showCancelButton="focus" [debounce]="1000" (ionChange)="handleChangeProd($event)"
      placeholder="Buscar cliente ">
    </ion-searchbar>

    <div class="contenedorCliente">
      <div class="item-Cliente" *ngFor="let usu of listaClientes">

        <div class="header">
          <p>
            {{usu.cliNombre}}
          </p>
        </div>
        <div class="content">

          <p> Direccion: {{usu.cliDireccion}}</p>
          <p> Correo: {{usu.cliCorreo}}</p>
          <p> {{usu.idTipoIdentificacion.tidNombre}}: {{usu.cliCedula}}</p>
        </div>

        <ion-button target="_blank" expand="block" (click)="crearFactura(usu)">
          <ion-icon name="document-outline"></ion-icon>
          <div> Crear factura </div>
        </ion-button>



      </div>
    </div>
  </div>
</ion-content>


