ion-back-button {
    color: white !important;

    span {
        color: white !important;
    }
}


ion-content {
    height: 500px;

    .contenedorFormulario {
        padding: 10px;

        display: grid;

        .contenedorInput {

            margin: auto;
            display: grid;
            width: 100%;
            grid-template-columns: 35% 65%;
            margin-bottom: 10px;
            box-sizing: border-box;
            align-items: center;

            input,
            select {
                width: 100%;
                border-radius: 20px;
                border-style: none;
                padding: 5px 5px 5px 20px;
                width: 100%;
                border: solid 1px black;
            }
        }
    }

}