


ion-content {
    height: 500px;

    .contenedorFormulario {
        padding: 10px;
        border: white solid 1px;
        display: grid;

        .contenedorInput {
            border: white solid 1px;
            margin: auto;
            display: grid;
            width: 100%;
            grid-template-columns: 30% 70%;
            margin-bottom: 10px;
            box-sizing: border-box;
            align-items: center;
            input {
                width: 100%;
                border-radius: 20px;
                border-style: none;
                padding: 5px;
                width: 100%;
            }
        }
    }

}