<ion-header>
  <ion-toolbar>
    <ion-title>Emitiendo factura para: {{usuario.cliNombre}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabprincipal/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>



  <ion-searchbar showCancelButton="focus" [debounce]="1000" (ionChange)="handleChangeProd($event)"
    placeholder="Buscar un producto "></ion-searchbar>

  <ion-content class="" style="height: 150px;" [scrollEvents]="true">
    <div class="contenedorProducto" *ngFor="let item of listaproductos">
      <div class="detallesProducto">
        <div class="item">
          <span>{{item.prodNombre}}</span>
        </div>
        <div class="item">
          <span>${{item.pordCostoVentaFinal}}</span>
        </div>
        <ion-button target="_blank" expand="block">
          <ion-icon name="chevron-forward-circle-outline"></ion-icon>
          <div (click)="agregarCarrito(item)"> Agregar </div>
        </ion-button>
      </div>
    </div>
  </ion-content>


  <ion-item>
    <ion-text color="primary" style="margin-left: 10px;">
      Detalle de factura
    </ion-text>
  </ion-item>

  <ion-content class="contenedorCarrito" style="height: 500px;" [scrollEvents]="true">

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-input value="Cantidad"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input value="Descripcion"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input value="Precio"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input value="Total"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input value="accion"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row class="contenedorProductos" *ngFor="let item of carritoProducto">
        <ion-col>
          <ion-input type="number" (input)="totalProductoCalcularCantidad($event.target.value,item)" value={{item.detCantidad}}>
          </ion-input>
        </ion-col>
        <ion-col>
          <ion-input value={{item.prodNombre}}></ion-input>
        </ion-col>
        <ion-col class="itemDinero">
          <span>$</span>
          <ion-input type="number" (input)="totalProductoCalcularPrecio($event.target.value,item)" value={{item.precioNuevo}}></ion-input>
        </ion-col>
        <ion-col class="itemDinero">
          <span>$</span>
          <ion-input value="{{item.totalPagarPorProducto}}"></ion-input>
        </ion-col>
        <ion-col>
          <button  (click)="eliminarProducto(item)" class="btnCancelar">Eliminar</button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item>


    </ion-item>


  </ion-content>

</ion-content>

<ion-footer class="footer" slot="fixed">
  <div class="total">
    <span class="tl">Total:</span>
    <span class="tlN">${{total}}</span>
  </div>
  <div class="total">
    <span class="tl">Base 12%</span>
    <span class="tlN">${{base12}}</span>
  </div>
  <div class="total">
    <span class="tl">Base 0%</span>
    <span class="tlN">${{baseCero}}</span>
  </div>
  <div class="total">
    <span class="tl">IVA:</span>
    <span class="tlN">${{iva}}</span>
  </div>
  <!-- <div class="total">
    <span class="tl">DESC:</span>
    <span class="tlN">${{desc}}</span>
  </div> -->
  <ion-button (click)="facturar()">Facturar</ion-button>
</ion-footer>