<ion-header>
  <ion-toolbar>
    <!-- <ion-title>Emitiendo para: {{usuario.cliNombre}}</ion-title> -->
    <ion-title>
      <div class="contenedor">
        <ul>
          <li>Emitiendo para:</li>
          <li> {{usuario.cliNombre}}</li>
        </ul>
      </div>
    </ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabprincipal/login"></ion-back-button>

    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>



  <ion-searchbar showCancelButton="focus" [debounce]="1000" (ionChange)="handleChangeProd($event)"
    placeholder="Buscar un producto "></ion-searchbar>

  <ion-content class="" style="height: 150px;" [scrollEvents]="true">
    <div class="contenedorProducto" *ngFor="let item of listaproductos">
      <div class="detallesProducto">
        <div class="item">
          <span>{{item.prodNombre}}</span>
        </div>
        <div class="item">
          <span>{{item.pordCostoVentaFinal|currency: 0 : "USD "}}</span>
        </div>
        <ion-button target="_blank" expand="block" (click)="agregarCarrito(item)">
          <ion-icon name="chevron-forward-circle-outline"></ion-icon>
          <div> Agregar </div>
        </ion-button>
      </div>
    </div>
  </ion-content>


  <ion-item>
    <ion-text color="primary" style="margin-left: 10px;">
      Detalle de factura
    </ion-text>
  </ion-item>

  <ion-content class="contenedorCarrito" style="height: 500px;" [scrollEvents]="true">

    <ion-grid>
      <ion-row>
        <ion-col size="2">
          <ion-input value="Cantidad" [readonly]="true"></ion-input>
        </ion-col>
        <ion-col size="4">
          <ion-input value="Descripción" [readonly]="true"></ion-input>
        </ion-col>
        <ion-col size="2">
          <ion-input value="Precio" [readonly]="true"></ion-input>
        </ion-col>
        <ion-col size="2">
          <ion-input value="Total" [readonly]="true"></ion-input>
        </ion-col>
        <ion-col size="2">
          <ion-input value="Acción" [readonly]="true"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row class="contenedorProductos" *ngFor="let item of carritoProducto">
        <ion-col size="2" class="itemDinero"
          style="border: solid 1px black; border-radius: 20px; background-color: #eee; height: 30px; margin: auto;">
          
          <ion-input type="number" style="padding: 0;" (input)="totalProductoCalcularCantidad($event.target.value,item)"
            value={{item.detCantidad}}>
          </ion-input>
        </ion-col>
        <ion-col size="4">
          <ion-input value={{item.prodNombre}} [readonly]="true"></ion-input>
        </ion-col>
        <ion-col size="2" class="itemDinero"
          style="border: solid 1px black; border-radius: 20px; background-color: #eee; height: 30px; margin: auto;">
          <span>$</span>
          <ion-input type="number" (input)="totalProductoCalcularPrecio($event.target.value,item)"
            value={{item.precioNuevo}}></ion-input>

        </ion-col>
        <ion-col size="2" class="itemDinero">
          <span>$</span>
          <ion-input value="{{item.totalPagarPorProducto}}" [readonly]="true"></ion-input>

        </ion-col>
        <ion-col size="2">
          <button (click)="eliminarProducto(item)" class="btnCancelar">Eliminar</button>
        </ion-col>
        <br />
      </ion-row>
    </ion-grid>


  </ion-content>
</ion-content>



<ion-footer class="footer" slot="fixed">
  <div class="calculos">
    <div class="total">
      <span class="tl">Total:</span>
      <span class="tlN">${{total}}</span>
    </div>
    <div class="total">
      <span class="tl">Base 12%</span>
      <span class="tlN">${{base12}}</span>
    </div>
    <div class="total">
      <span class="tl">Base 0%</span>
      <span class="tlN">${{baseCero}}</span>
    </div>
    <div class="total">
      <span class="tl">IVA:</span>
      <span class="tlN">${{iva}}</span>
    </div>
    <div class="total">
      <span class="tl">Descuento:</span>
      <span class="tlN">${{desc}}</span>
    </div>
  </div>
  <div class="botonera">
    <ion-button color="success" (click)="agregarNota()">Agregar
      Observación</ion-button>
    <ion-button color="danger" (click)="facturar()">Facturar</ion-button>
  </div>
</ion-footer>