<ion-content>
  <ion-tabs>


    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="iniciofactura">
        <ion-icon name="newspaper-outline"></ion-icon>
        <ion-label>Facturar</ion-label>
        <ion-badge>1</ion-badge>
      </ion-tab-button>
      <ion-tab-button tab="listafactura">
        <ion-icon name="newspaper-sharp"></ion-icon>
        <ion-label>Facturas</ion-label>
        <ion-badge>2</ion-badge>
      </ion-tab-button>
      <ion-tab-button tab="misservicio">
        <ion-icon name="server-outline"></ion-icon>
        <ion-label>Producto</ion-label>
        <ion-badge>3</ion-badge>
      </ion-tab-button>

      <ion-tab-button tab="misclientes">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>Cliente</ion-label>
        <ion-badge>4</ion-badge>
      </ion-tab-button>
      <ion-tab-button tab="miperfilpersona">
        <ion-icon name="settings-outline"></ion-icon>
        <ion-label>Perfil</ion-label>
        <ion-badge>5</ion-badge>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>