<ion-header>
  <ion-toolbar>
    <ion-title>Configuracion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Tipo de conexión</ion-label>
    <select [formControl]="tipoconexion" name="select">
      
      <option value="http">http</option>
      <option value="https">https</option>
    </select>
  </ion-item> 
  <ion-item>
    <ion-label>IP:</ion-label>
    <ion-input type="text" [formControl]="ipServidor" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Puerto:</ion-label>
    <ion-input type="text" [formControl]="puerto" ></ion-input>
  </ion-item>
  <ion-button (click)="guardarServidor()">Guardar</ion-button>
</ion-content>