<ion-header>
  <ion-toolbar>
    <ion-title>Mis productos</ion-title>
    <ion-buttons slot="end">
      <ion-button style="background-color: black; color: white;border-radius: 20px;"
        href="tabprincipal/login">Salir</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-content">
    <ion-searchbar showCancelButton="focus" [debounce]="1000" (ionChange)="handleChangeProd($event)"
      placeholder="Buscar un producto "></ion-searchbar>
    <div class="contenedorCliente">
      <div class="item-Cliente" *ngFor="let usu of listaproductos">
        <div class="header">
          <p>Codigo: {{usu.prodCodigo}}</p>
        </div>
        <div class="content">
          <p> Descripcion: {{usu.prodNombre}}</p>
          <p>Precio: {{usu.pordCostoVentaFinal | currency: 0 : "USD"}}</p>
          <p>Graba IVA: {{usu.prodGrabaIva?'SI':'NO'}}</p>
        </div>

        <ion-button (click)="modificar(usu)" target="_blank" expand="block">
          <ion-icon name="pencil"></ion-icon>
          <div>Editar</div>
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>

<ion-fab (click)="crearProducto()" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>